/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    color: rgb(78, 77, 73);
}


.logo-area {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.logo-text {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 10px;
}

.search-area {
    background-color: #f0f6fa;
    display: flex;
    align-items: center;
    height: 48px;
    width: 692px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.search-area input {
    border: none;
    background-color: #f1f3f4;
    height: 100%;
    width: 95%;
    font-size: 16px;
    padding: 0 10px;
    margin-left: 10px;
}

input:focus {
    outline: none;
}

.search-area span {
    margin-left: 15px;
}